.git
.gitignore
.env
.env.local
.env.*.local
var/
vendor/
node_modules/
tests/
.phpunit.cache/
phpunit.dist.xml
*.md
compose-disable.yaml
compose-disable.override-.yaml
docker-compose.yaml
.dockerignore
Dockerfile
agent-transcripts/
